<%- include('layouts/header') %> <%- include('layouts/navbar') %>

<h1><%= title %></h1>

<p>Họ tên: Minh Hiếu</p>
<p>Email: example@gmail.com</p>
<p>SĐT: 0900000000</p>

<%- include('layouts/footer') %>
