<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Chi tiết bài viết</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <div class="container">
      <div class="post">
        <h1><%= post.title %></h1>
        <p><%= post.body %></p>
      </div>

      <a href="/" class="back">← Về trang chủ</a>
    </div>
  </body>
</html>
